#app{
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4d4d4d;
    min-width:550px;
    max-width:850px;
    margin: 0 auto;
}

a.active {
    color: orange;
}

nav{
    padding-top: 20px;
}

.svg-inline--fa.fa-w-14[data-icon="trash-alt"]{
    color: #cc3333 !important;
    cursor: pointer;
}

#createNewBtn{
    margin-bottom:1rem;
}

#contentArea > h6,#contentArea > h4{
    text-align: center;
}

pre{
    white-space: normal;
}

input.form-control-plaintext{
    background-color: #fff;
}